[colors]
black = #1e2127
red = #e06c75
green = #98c379
yellow = #d19a66
blue = #61afef
magenta = #c678dd
cyan = #56b6c2
white = #fff

background = ${colors.black}
foreground = ${colors.white}
alert = ${colors.red}
primary = ${colors.blue}

[bar/main]
width = 100%
height = 23
fixed-center = true
bottom = top

background = ${colors.background}
foreground = ${colors.foreground}

padding-left = 0
padding-right = 4

module-margin-left = 0
module-margin-right = 2

font-0 = "mono;pixelsize=7;2"
font-1 = "JetBrainsMonoExtraBold Nerd Font:style=Bold;pixelsize=7;2"

modules-left = workspace0
modules-center = date 
modules-right = pulseaudio wlan wlan2 battery 

tray-position = 
tray-padding = 1
cursor-click = pointer
cursor-scroll = ns-resize

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true
label-font = 2

[module/wlan2]
type = internal/network
interface = wlo1
interval = 3.0

format-connected = <ramp-signal>
label-connected = 

label-disconnected = 睊 
format-disconnected = <label-disconnected>
label-disconnected-foreground = ${colors.alert}

ramp-signal-0 = 
ramp-signal-foreground = ${colors.foreground}


[module/wlan]
type = internal/network
interface = wlan0
interval = 3.0

format-connected = <ramp-signal>
label-connected = 

label-disconnected = 睊 
format-disconnected = <label-disconnected>
label-disconnected-foreground = ${colors.alert}

ramp-signal-0 = 
ramp-signal-foreground = ${colors.foreground}

[module/date]
type = internal/date
interval = 1

date = %a
date-alt = "%A %Y-%m-%d"

time = %H:%M
time-alt = %H:%M:%S

format-prefix = 
format-prefix-foreground = ${colors.foreground}
format-foreground = ${colors.foreground}

label = %date% %time%
label-font = 2

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume>
format-volume-prefix =  
format-volume-prefix-foreground = ${colors.foreground}

label-volume =" %percentage%%"
label-volume-foreground = ${colors.foreground}
label-volume-font = 2

label-muted = ﱝ muted
label-muted-foreground = ${colors.alert}

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 98

label-discharging-font = 2
label-charging-font = 2
label-full-font = 2
label-low-foreground = ${colors.alert}

format-discharging = "<ramp-capacity>   <label-discharging>"
format-charging = "<animation-charging>   <label-charging>"
format-full = 

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = ${colors.foreground}

animation-charging-0 = 
animation-charging-foreground = ${colors.foreground}
animation-charging-framerate = 750

[settings]
screenchange-reload = true
enable-ipc = true

[global/wm]
margin-top = 0
margin-bottom = 0

