{% assign colorActiveFg = "{{.colors.focus_fg}}" %}
{% assign colorActiveBg = "{{.colors.focus_bg}}" %}
{% assign colorForeground = "{{.colors.bg}}" %}
{% assign colorHasWindows = "{{.colors.alert}}" %}

{{`{% for tag in workspace.tags %}
{% if tag.mine %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F{{colorForeground}}}%{B{{colorActiveBg}}} {{tag.name}} %{B-}%{F-}
%{A}
{% elsif tag.visible  %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F{{colorForeground}}}%{B{{colorActiveBg}}} {{tag.name}} %{B-}%{F-}
%{A}
{% elsif tag.busy %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F{{colorHasWindows}}} {{tag.name}} %{F-}
%{A}
{% else tag.visible  %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F{{colorActiveBg}}} {{tag.name}} %{F-}
%{A}
{% endif %}
{% endfor %}
%{F#555}
 
{% if workspace.layout == "Fibonacci" %}
ϕ
{% elsif workspace.layout == "MainAndVertStack" %}
{=
{% elsif workspace.layout == "CenterMainBalanced" %}
{}
{% else %}
??
{% endif %}
%{F-}`}}
